/* # Example

 Component doing absolutely nothing useful

 ```
 <div class="example">123 <span class="_smth">456</span></div>
 ``` */
.example
	// mixins, extends
	// local variables
	// attributes
	color: black

	// hover/focus/pseudo elements
	&:before
		content: '0'

	// private childs
	._smth
		color: gray

/*
 ## Active state

 ```
 <div class="example state-active">123 <span class="_smth">456</span></div>
 ``` */
.example.state-active
	background: lightyellow

/*
 ## Minimal view

 ```
 <div class="example view-mini">123 <span class="_smth">456</span></div>
 ``` */
.example.view-mini
	._smth
		display: none
