<div class="intro" id="takeoff">
	<div class="intro-head">
		<a class="intro-icon" href="#takeoff"><img src="img/rocket512.png"></a>
		<h1 class="intro-title">Frontbase</h1>
		<p class="intro-subtitle">a starter fuel for web projects</p>
	</div>
</div>
